.divwraper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto ;
    padding-top: 25px;
}
.hea-der {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: blacka;
}
.ul-li {
    display: flex;
    column-gap: 25px;
}
.rightdiv {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.log-box {
    color: silver;
    background-color: black;
    border-radius: 60%;
    padding: 10px 10px;
    border: 2px silver groove;
}
.titlebox {
    max-width: 1440px;
    width: 90%;
    padding-top: 265px;
    padding-bottom: 265px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.sec1 {
    background-image: url(../images/Silvercut_Website-Silvercut_Website-1_1944x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.img {
    width: 100%;
}
.imgdiv {
    background-color:;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.yourbox {
    margin-top: 15px;
    background-color: silver;
    color: black;
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    border: 3px black groove;
}
.divwraper2 {
    max-width: 1440px;
    width: 90%;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
}
.productbox {
    width: 400px;
    height: 600px;
}
.imgbox {
    width: 100%;
}
.imgboxinfo {
    text-align: center;
    padding-top: 5px;
}
.imgboxinfo2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}
.sec2-title {
    padding-top: 100px;
    text-align: center;
    font-size: 80px;
    line-height: 15px;
}
.img2 {
    width: 100%;
}
.divwraper3 {
    max-width: 1140px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.oldprice {
    text-decoration: line-through red;
    font-size: 20px;
    text-align: center;
}
.productname {
    font-size: 25px;
    text-align: center;
}
.sale {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    text-align: center;
}
.saleprice {
    padding-top: 5px;
    font-size: 35px;
    text-align: center;
}
.box {
    border-radius: 10px;
    border: 1px silver groove;
    color: white;
    background-color: black;
}
.sec3-title {
    margin-bottom: 50px;
    text-align: center;
}
.divwraper4 {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.img4 {
    width: 100%;
}
.box1 {
    width: 300px;
}
.tutorial-p {
    text-align: center;
    padding-bottom: 10px;
}
.shop-box {
    width: 100px;
    margin: 15px auto 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background-color: black;
    border: 2px groove silver;
}
.sec4-title {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
}
.sec4-title2 {
    text-align: center;
    padding-bottom: 10px;
}
.sec5-title {
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
}
.divwraper5 {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box11 {
    width: 30%;
}
.img5 {
    width: 100%;
}
.name-p {
    padding-top: 5px;
    padding-bottom: 3px;
}
.mastercard-box {
    width: 150px;
    height: 150px;
}
.mcimg {
    width: 100%;
}
.sec6 {
    background-color: burlywood;
}
.divwraper6 {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    width: 30%;
    margin: 100px auto 0;
}