.logo-name {
    color: white;
    font-size: 30px;
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}
.divwraper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto ;
    padding-top: 25px; 
    position: relative;
}
.burgerbar {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    display: none;
}
.hea-der {
    width: 100%;
    position: fixed;
    z-index: 1;
    border: 1px groove;
    padding: 15px;
    background-color: #34568B;
    box-shadow: 5px 5px 8px yellow, 10px 10px 8px yellow, 15px 15px 8px silver;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}
.ul-li {
    display: flex;
    column-gap: 25px;
}
.nav-a {
    position: relative;
    font-size: 20px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: white;
}
.nav-a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 2s;
}
.nav-a:hover::after {
    width: 100%;
}
.log-p {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.rightdiv {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.log-box {
    color: white;
    background-color: black;
    border-radius: 25%;
    padding: 10px 10px;
    border: 2px silver groove;
}
.log-box:hover {
    background-color: steelblue;
}
.sec1-h1 {
    color: white;
    font-size: 45px;
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}
.titlebox {
    position: absolute;
    top: 265px;
    left: 10%;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sec1 {
    background-image: url(../images/Silvercut_Website-Silvercut_Website-1_1944x.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
}
.img {
    width: 100%;
}
.imgdiv {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.yourbox {
    margin: 20px auto 0;
    background-color: black;
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    border: 3px black groove;
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 17px;
}
.yourbox:hover {
    background-color: steelblue;
}
.per-a {
    color: white;
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}
.divwraper2 {
    max-width: 1440px;
    width: 90%;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
}
.productbox {
    width: 400px;
    height: 600px;
}
.productbox:hover {
    background-color: whitesmoke;
    border-radius: 5%;
    border: 1px groove white;
}
.imgbox {
    width: 100%;
}
.imgboxinfo {
    text-align: center;
    padding-top: 5px;
    font-size: 25px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: #34568B;
}
.imgboxinfo2 {
    color: #34568B;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.sec2-title {
    color: #34568B;
    max-width: 1440px;
    width: 90%;
    height: 45px;
    margin: 100px auto 0;
    font-size: 60px;
    line-height: 15px;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    position: relative;
}
.sec2-title::after {
    content: "  ";
    background-color: steelblue;
    width: 15%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 2s;
}
.img2 {
    width: 100%;
}
.divwraper3 {
    max-width: 1140px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;
    animation: monthlybox 5s;
    animation-iteration-count: 1;
    animation-delay: 5s;
}
@keyframes monthlybox {
    from {left: -100%;}
    to {left: 0;}
}
.oldprice {
    text-decoration: line-through red;
    font-size: 20px;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: #34568B;
}
.productname {
    color: #34568B;
    font-size: 25px;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.sale {
    color: #34568B;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.saleprice {
    color: #34568B;
    padding-top: 5px;
    font-size: 35px;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.box {
    border-radius: 10px;
    border: 1px silver groove;
    color: white;
    background-color: whitesmoke;
}
.sec3-title {
    color: #34568B;
    height: 20px;
    max-width: 1440px;
    width: 80%;
    margin: 70px auto 50px;
    padding-left: 14%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 15px;
}
.sec3-title::after {
    content: "  ";
    background-color: steelblue;
    width: 5%;
    height: 2px;
    position: absolute;
    left: 14;
    bottom: 0;
}
.divwraper4 {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.img4 {
    width: 100%;
}
.box1 {
    width: 300px;
}
.tutorial-p {
    color: #34568B;
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.shop-box {
    width: 100px;
    margin: 25px auto 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background-color: black;
    border: 2px groove silver;
    position: relative;
}
.shop-box:hover {
    background-color: skyblue;
}
.shop-p {
    color: white;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.sec4-title {
    color: #34568B;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}
.sec4-title::after {
    content: "  ";
    background-color: steelblue;
    width: 8%;
    height: 3px;
    position: absolute;
    left: 46%;
    top: 70px;
}
.sec4-title2 {
    color: #34568B;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
.sec4-title2::after {
    content: "  ";
    background-color: steelblue;
    width: 6%;
    height: 3px;
    position: absolute;
    left: 47%;
    top: 50px;
}
.sec3{
    height: 500px;
}
.sec5-title {
    color: #34568B;
    max-width: 1440px;
    width: 25%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
    border: 3px dashed #34568B;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}
.divwraper5 {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box11 {
    width: 30%;
}
.img5 {
    width: 100%;
}
.name-p {
    color: #34568B;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.review-p {
    color: #34568B;
    font-size: 25px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.mastercard-box {
    width: 150px;
    height: 150px;
}
.mcimg {
    width: 100%;
}
.sec6 {
    background-color: #34568B;
}
.divwraper6 {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1440px;
    width: 30%;
    margin: 100px auto 0;
}
.mailbox {
    max-width: 300px;
    width: 60%;
    height: 50px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px groobe;
}
.sendbox {
    width: 100px;
    height: 30px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px groove;
    background-color: black;
    color: white;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;

}
.foot-er {
    background-color: #34568B;
}
.divwraper7 {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.foot-h3 {
    color: white;
    font-size: 35px;
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}
.address-p {
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.footer-h3 {
    color: white;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 25px;
}
.inst {
    color: white;
}
.footer-details {
    color: white;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 15px;
}
.socmedia-box {
    display: flex;
    column-gap: 10px;
    font-size: 20px;
}
.instabox {
    padding-top: 10px;
    padding-bottom: 5px;
}
.fbbox {
    padding-bottom: 5px;
}
.sale-p {
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.sale-p2 {
    color: white;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.last-p {
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* necklace.html */ 

.necklace-divwraper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    column-gap: 80px;
}
.hea-der2 {
    width: 100%;
    background-color: skyblue;
}
.necklace-title {
    color: #34568B;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}
.orderbox1 {
    column-gap: 10px;
    display: flex;
    align-items: center;
}
.necklace-name {
    color: #34568B;
    font-size: 25px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.necklace-price {
    color: #34568B;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.review {
    color: #34568B;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.uth-box {
    height: 40px;
    width: 250px;
}
.engraving-text {
    color: #34568B;
    font-size: 20px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.necklace-review {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.number1 {
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #34568B;
}
.entertextbox {
    margin-top: 15px;
    margin-bottom: 50px;
}
.upload-pic-box {
    margin-top: 15px;
}
.necklaceimg-box {
    width: 800px;
    height: 800px;
}
.necklace-image {
    width: 100%;
    height: 100%;
}
.k-footer {
    margin-top: 50px;
}
.addtocart {
    width: 260px;
    height: 40px;
    margin-top: 50px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.contact-leftdiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    position: relative;
}
.imgc {
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}
.touchbox {
    margin: 0 auto;
    text-align: center;
}
.contact-h2 {
    color: #34568B;
    font-size: 45px;
    margin-bottom: 10px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.contact-p {
    color: #34568B;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.underdiv {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 630px;
    left: 10%;
}
.leftdiv {
    background-color: white;
    border: 1px;
    border-style: groove;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.support {
    height: 40px;
    background-color: black;
    color: white;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.underdiv-h4 {
    padding-bottom: 10px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 20px;
}
.number-p {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 20px;
}
.c-footer {
    margin-top: 250px;
}
.k-head {
    width: 100%;
    height: 80px;
    background-color: #34568B;
    box-shadow: 5px 5px 8px yellow, 10px 10px 8px yellow, 15px 15px 8px silver;
}



/* Responsive max width 1024px */ 

@media (max-width: 1024px) {
    .divwraper2 {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
    }
    .sec4-title2 {
        margin-bottom: 20px;
    }
    .divwraper4 {
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
    }
    .shop-box {
        width: 50%;
        height: 50px;
    }
    .divwraper7 {
        flex-wrap: wrap;
        column-gap: 100px;
        justify-content: center;
        row-gap: 20px;
    }
}
@media (max-width: 768px) {
    .sec1 {
        height: 400px;
    }
    .divwraper3 {
        column-gap: 25px;
    }
    .necklaceimg-box {
        width: 100%;
        height: 100%;
    }
    .necklace-image {
        height: 500px;
    }
    .contact-imgbox {
        width: 60%;
    }
    .underdiv-h4 {
        text-align: center;
    }
    .getintouch {
        display: none;
    }
    .divwraper7 {
        column-gap: 50px;
        flex-wrap: wrap;
    }
    .titlebox {
        left: 5%;
        top: 15%;
    }
    .sec1-h1 {
        font-size: 25px;
    }
    .yourbox {
        width: 20%;
    }
    .underdiv {
        position: absolute;
        top: 220px;
        left: 50px;
    }
    .number-p {
        text-align: center;
    }
    .contact-imgbox {
        display: none;
    }
}
@media (max-width: 480px) {
    .contact-imgbox {
        width: 40%;
    }
    .sec1 {
        background-image: url(../images/peoplehomepage.webp);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 800px;
    }
    .titlebox {
        left: 5%;
        top: 45%;
    }
    .navigation {
        display: none;
    }
    .nav-a {
        color: black;
    }
    .ul-li {
        flex-direction: column;
        position: absolute;
        left: 200px;
        top: 70px;
    }
    .yourbox {
        width: 50%;
        height: 50px;
    }
    .per-a {
        font-size: 15px;
    }
    .burgerbar {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 30px;
        left: 220px;
    }
    .navigation.newNavigation {
        display: block;
    }
    .productbox {
        width: 80%;
        height: 520px;
    }
    .divwraper3 {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .img2 {
        height: 200px;
    }
    .sec4-title {
        margin-top: 600px;
    }
    .sec5-title {
        width: 80%;
    }
    .getintouch {
        display: none;
    }
    .necklace-title {
        font-size: 25px;
    }
    .necklace-divwraper {
        flex-direction: column;
    }
    .underdiv {
        position: absolute;
        top: 250px;
        left: 30px;
    }
    .number-p {
        text-align: center;
    }
    .contact-imgbox {
        display: none;
    }
}
@media (max-width: 320px) {
    .underdiv {
        position: absolute;
        top: 180px;
        left: 30px;
    }
    .contact-imgbox {
        display: none;
    }
    .sec1 {
        background-image: url(../images/peoplehomepage.webp);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 500px;
    }
    .titlebox {
        left: 5%;
        top: 30%;
    }
    .per-a {
        font-size: 10px;
    }
    .rightdiv {
        display: none;
    }
    .log-box {
        display: none;
    }
    .sec1-h1 {
        font-size: 15px;
    }
    .yourbox {
        width: 40%;
    }
    .sec2-title {
        font-size: 25px;
    }
    .productbox {
        height: 380px;
    }
    .box1 {
        width: 80%;
    }
    .review-p {
        font-size: 12px;
    }
    .sec5-title {
        font-size: 20px;
    }
    .divwraper7 {
        flex-direction: column;
        justify-content: center;
    }
    .contact-h2 {
        font-size: 20px;
    }
    .contact-p {
        font-size: 10px;
    }
    .underdiv-h4 {
        font-size: 15px;
    }
    .number-p {
        font-size: 10px;
    }
    .support-box {
        width: 100%;
    }
    .support {
        font-size: 10px;
    }
}