.divwraper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto ;
    padding-top: 25px;
}
.hea-der {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: skyblue;
}
.ul-li {
    display: flex;
    column-gap: 25px;
}
.nav-a {
    position: relative;
}
.nav-a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: silver;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 2s;
}
.nav-a:hover::after {
    width: 100%;
}
.rightdiv {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.log-box {
    color: white;
    background-color: black;
    border-radius: 60%;
    padding: 10px 10px;
    border: 2px silver groove;
}
.log-box:hover {
    background-color: steelblue;
}
.titlebox {
    max-width: 1440px;
    width: 90%;
    padding-top: 265px;
    padding-bottom: 265px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.sec1 {
    background-image: url(../images/Silvercut_Website-Silvercut_Website-1_1944x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.img {
    width: 100%;
}
.imgdiv {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.yourbox {
    margin-top: 15px;
    background-color: black;
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    border: 3px black groove;
}
.yourbox:hover {
    background-color: steelblue;
}
.per-a {
    color: white;
}
.divwraper2 {
    max-width: 1440px;
    width: 90%;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
}
.productbox {
    width: 400px;
    height: 600px;
}
.productbox:hover {
    background-color: skyblue;
    border-radius: 5%;
    border: 1px groove white;
}
.imgbox {
    width: 100%;
}
.imgboxinfo {
    text-align: center;
    padding-top: 5px;
}
.imgboxinfo2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}
.sec2-title {
    max-width: 1440px;
    width: 90%;
    height: 45px;
    margin: 100px auto 0;
    font-size: 80px;
    line-height: 15px;
    position: relative;
}
.sec2-title::after {
    content: "  ";
    background-color: steelblue;
    width: 15%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 2s;
}
.img2 {
    width: 100%;
}
.divwraper3 {
    max-width: 1140px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;
    animation: monthlybox 5s;
    animation-iteration-count: 1;
}
@keyframes monthlybox {
    from {left: -100%;}
    to {left: 0;}
}
.oldprice {
    text-decoration: line-through red;
    font-size: 20px;
    text-align: center;
}
.productname {
    font-size: 25px;
    text-align: center;
}
.sale {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    text-align: center;
}
.saleprice {
    padding-top: 5px;
    font-size: 35px;
    text-align: center;
}
.box {
    border-radius: 10px;
    border: 1px silver groove;
    color: white;
    background-color: black;
}
.sec3-title {
    height: 20px;
    max-width: 1440px;
    width: 80%;
    margin: 70px auto 50px;
    padding-left: 14%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.sec3-title::after {
    content: "  ";
    background-color: steelblue;
    width: 5%;
    height: 2px;
    position: absolute;
    left: 14;
    bottom: 0;
}
.divwraper4 {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.img4 {
    width: 100%;
}
.box1 {
    width: 300px;
}
.tutorial-p {
    text-align: center;
    padding-bottom: 10px;
}
.shop-box {
    width: 100px;
    margin: 25px auto 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background-color: black;
    border: 2px groove silver;
    position: relative;
}
.shop-box:hover {
    background-color: skyblue;
}
.shop-p {
    color: white;
}
.sec4-title {
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
}
.sec4-title::after {
    content: "  ";
    background-color: steelblue;
    width: 8%;
    height: 3px;
    position: absolute;
    left: 46%;
    bottom: 0;
}
.sec4-title2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
}
.sec4-title2::after {
    content: "  ";
    background-color: steelblue;
    width: 6%;
    height: 3px;
    position: absolute;
    left: 47%;
    bottom: 0;
}
.sec3{
    height: 500px;
}
.sec5-title {
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline skyblue 5px;
}
.divwraper5 {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box11 {
    width: 30%;
}
.img5 {
    width: 100%;
}
.name-p {
    padding-top: 5px;
    padding-bottom: 3px;
}
.mastercard-box {
    width: 150px;
    height: 150px;
}
.mcimg {
    width: 100%;
}
.sec6 {
    background-color: steelblue;
}
.divwraper6 {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    width: 30%;
    margin: 100px auto 0;
}
.mailbox {
    width: 300px;
    height: 50px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px groobe;
}
.sendbox {
    width: 100px;
    height: 30px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px groove;
    background-color: aqua;
}
.foot-er {
    background-color: steelblue;
}
.divwraper7 {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 90%;
    margin: 25px auto 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
.address-p {
    padding-top: 10px;
    padding-bottom: 5px;
}
.socmedia-box {
    display: flex;
    column-gap: 10px;
    font-size: 20px;
}
.instabox {
    padding-top: 10px;
    padding-bottom: 5px;
}
.fbbox {
    padding-bottom: 5px;
}
.sale-p {
    padding-top: 10px;
    padding-bottom: 5px;
}
.last-p {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* necklace.html */ 

.necklace-divwraper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    column-gap: 80px;
}
.hea-der2 {
    width: 100%;
    background-color: skyblue;
}
.necklace-title {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
}
.orderbox1 {
    column-gap: 10px;
    display: flex;
    align-items: center;
}
.necklace-name {
    font-size: 25px;
}
.necklace-price {
    margin-top: 5px;
    font-size: 25px;
}
.necklace-review {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.number1 {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: skyblue;
}
.entertextbox {
    margin-top: 15px;
    margin-bottom: 50px;
}
.upload-pic-box {
    margin-top: 15px;
}
.necklaceimg-box {
    width: 800px;
    height: 800px;
}
.necklace-image {
    width: 100%;
    height: 100%;
}